@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
/*font-family: 'Inter', sans-serif;*/
body, main{
    display: flex;
}
body{
    flex-direction: column;
}
main{
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
}
nav.custom_nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nav-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-links{
    justify-content: center;
    align-items: center;
}
.none{
    visibility: hidden;
}

.hero{
    width: 100%;
    background-image: url("https://image.freepik.com/free-vector/halftone-background-with-lines_23-2148907691.jpg");
    display: block;
    justify-content: space-around;
    border: white 1px solid;
    border-radius: 10px;
}
.hero-row{
    text-align: center;
    width: 70%;
    padding: 50px;
}
.hero-text{
    color: white;
    font-family: 'Inter', sans-serif;
}
@media screen and (max-width: 620px) {
    .row{
        display: flex;
        flex-direction: column;
        flex: auto;
        justify-content: center;
        padding: 50px;
        align-items: center;
    }
}
.row{
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: center;
    padding: 50px;
    align-items: center;

}
.col-img{
    flex: 1;
}
.col-text{
    flex: 1;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    word-spacing: 1.3px;
    padding: 10px;
}
.heading{
    text-align: center;
    text-decoration: underline darkred;
/*     line-height: 10px; */
}
.mission{
    background-image: url("https://image.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1094.jpg");
}
.mission-text{
    text-align: justify;
}
.contact-heading{
    padding-bottom: 0;
}
.contact-row{
    padding-top: 0;
}
footer{
    text-align: center;
}
mark{
    background-color: yellowgreen;
}
.tweets-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.col-tweets{
    text-align: center;
}
.js-img{
    justify-content: center;
    text-align: center;
}
